<ion-view view-title="กล่องข้อความ" id="chats-page">
  <ion-content>
    <!--<a ng-repeat="item in chats" href="#/app/chats/{{item.id}}" class="chat-item">-->
    <semi-no-record ng-if="!chats"></semi-no-record>
    <div ng-repeat="item in chats | orderBy: time : true" class="chat-item" ng-click="goToChatRoom(item)">
        <div class="title">หัวข้อ : {{item.title}}</div>
        <div class="date">{{ item.time | thaiDate}}</div>
    </div>

    <!-- Bad Example -->
    <!--
      - background image should be put in SCSS file (except menu, which has different images)
      - chat-item class should be in `a`
     -->

    <!--<a ng-repeat="item in chats" href="#/app/chats/{{item.id}}">-->
      <!--<div class="chat-item">-->
        <!--<div>หัวข้อ : {{item.title}}</div>-->
        <!--<div style="background-image: url('img/arrow_next.png')">{{item.toTime}}</div>-->
      <!--</div>-->
    <!--</a>-->


    <!--<a ng-repeat="item in chats" href="#/app/chats/{{item.id}}">-->
      <!--{{item.title}} - {{item.toTime}} <br/>-->
    <!--</a>-->
  </ion-content>
  <!--<barcode-footer></barcode-footer>-->
</ion-view>
