<ion-view view-title="กล่องข้อความ" id="chatroom-page">
  <div class="bar bar-subheader">
    <div class="chatroom-header">
      <div>หัวข้อ : {{header.title}}</div>
      <div ng-show="content !== null">วันที่ {{header.dateTime | thaiDateTime}}</div>
      <!--<div>หัวข้อ : ไปศูนย์ของฝากสาย 30 นาที</div>-->
      <!--<div>วันที่ 2 สค. 2559 10:30 น.</div>-->
    </div>
  </div>

  <ion-content class="has-subheader has-footer chatroom-content">

    <div class="message" ng-repeat="item in content | orderBy: time : true" ng-class="{reply: item.action == 'U'}">
      <div class="message-avatar flex-center" ng-if="item.action">
        <img class="img-avatar" ng-src="{{user.imgprofile}}" err-src="img/default-profile-img.png" ng-if="item.action == 'U'" />
        <img class="img-avatar" ng-src="/img/avatar-srifa.png" err-src="img/default-profile-img.png" ng-if="item.action != 'U'"/>
      </div>
      <div class="message-text">
        {{item.messageText}}
        <div class="message-status">
          <!--<div class="status-read">Read</div>-->
          <div class="status-time">{{item.time | date : 'H:mm' : 'Asia/Bangkok'}}</div>
        </div>
      </div>
    </div>

    <div class="inbox-not-found" ng-if="content === null">
      ไม่พบข้อความ
    </div>

    <!-- Mock -->

    <!--<div class="message">-->
    <!--<div class="message-avatar" style="background-image: url('img/avatar-srifa.png')"></div>-->
    <!--<div class="message-text">-->
    <!--ไปศูนย์ของฝากสาย 30 นาที นะครับ รบกวนรอด้วยครับ-->
    <!--<div class="message-status">-->
    <!--<div class="status-read">Read</div>-->
    <!--<div class="status-time">18:12</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="message reply">-->
    <!--<div class="message-avatar" style="background-image: url('img/avatar-srifa.png')"></div>-->
    <!--<div class="message-text">-->
    <!--ไปศูนย์ของฝากสาย 30 นาที นะครับ รบกวนรอด้วยครับ-->
    <!--<div class="message-status">-->
    <!--<div class="status-read">Read</div>-->
    <!--<div class="status-time">18:12</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!-- You code: very wrong -->

    <!--<div class="row chatroom-item" >-->
    <!--<div><img src='img/img-24.png'></div>-->
    <!--<div class="title">ไปศูนย์ของฝากสาย 30 นาที นะครับ รบกวนรอด้วยครับ</div>-->
    <!--<div class="title-time"><p>Read</p>18:12</div>-->
    <!--</div>-->
    <!--<div class="row chatroom-item-re" >-->
    <!--<div class="title-time">18:12</div>-->
    <!--<div class="title">ได้ค่ะ รบกวนมาก่อน 3 ทุ่มนะค่ะ</div>-->
    <!--<div><img src='img/img-24.png'></div>-->
    <!--</div>-->
    <!-- Real Data (too short) -->
    <!--<div ng-repeat="item in content" href="#/app/posts/{{postType}}/{{item.id}}" thumbnail="{{item.img}}">-->
    <!--{{item.messageText}}-->
    <!--</div>-->

  </ion-content>

  <ion-footer-bar align-title="left" keyboard-attach class="bar-assertive">
    <div class="chatroom-footer">
      <a event-focus="click" event-focus-id="message" ><i class="icon ion-plus" ></i></a>
      <form name="myForm" novalidate>
        <div class="input-wrap">
          <input ng-disabled="content === null" type="text" placeholder="พิมพ์ข้อความ" name="message" ng-model="message" ng-minlength="1" id="message" ng-class="{active:increaseWidth}" class="form-control" ng-focus="increaseWidth=true" ng-blur="increaseWidth=false"  required>
        </div>
        <button type="button" class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="sendMessage(message)">ส่งข้อความ</button>
      </form>
    </div>
  </ion-footer-bar>

  <!--<div class="row chat-item-footer" >-->
  <!--<div class="col col-10" style="background-image: url('img/img-add.png')"></div>-->
  <!--<div class="col col-60">-->
  <!--<input type="text" placeholder="พิมพ์ข้อความ">-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--<button>ส่งข้อความ</button>-->
  <!--</div>-->
  <!--</div>-->

</ion-view>
