<ion-view view-title="ค่าคอมมิชชั่นที่ได้" id="commissions-page">
    <ion-content id="commissions-content" class="small-padding">
        <div class="container has-barcode-footer" ng-class="containerClasses">
            <!-- Note: I Don't use `row` because I need the exact height, for placing it in subheader in the future -->
            <div class="com-header com1">
                <div class="full-name">{{user.surname}} {{user.lastname}}</div>
                <div class="car-number" ng-if="user.carnumber">ทะเบียนรถ : {{user.carnumber}}</div>
            </div>
            <div class="com-header com2">
                <div>รวมค่าคอมมิชชั่นทั้งหมด</div>
                <div>{{commissionSumAll | emptyToHyphen}}</div>
            </div>
            <div class="com-header com-fromto-title">
                <div class="title">ค่าคอมมิชชั่นตั้งแต่</div>
            </div>
            <div class="com-header com3">
                <div class="form-wrap">
                    <form>
                        <!-- Note: this is the 2nd select -->
                        <div class="text-year">ปี</div>
                        <div class="select-wrap year-select">
                            <i class="icon ion-chevron-down"></i>
                            <ion-select [(ngModel)]="gender"></ion-select>
                            <select ng-model="formData.year" ng-options="option.name for option in data.years track by option.id" ng-change="changeMonth()"></select>
                        </div>

                        <div class="text-month">เดือน</div>
                        <div class="select-wrap from">
                            <div class="calendar-icon"></div>
                            <ion-select [(ngModel)]="gender"></ion-select>
                            <select ng-model="formData.start" ng-options="option.name for option in data.months track by option.id" ng-change="changeMonth()"></select>
                        </div>

                        <div class="text-to">ถึง</div>
                        <div class="select-wrap to">
                            <div class="calendar-icon"></div>
                            <select ng-model="formData.end" ng-options="option.name for option in data.months track by option.id" ng-change="changeMonth()"></select>
                        </div>
                        </select>
                    </form>
                </div>
            </div>

            <div class="commission-list">
                <div class="header-wrap">
                    <div class="header-date"><div>วันที่</div></div>
                    <div class="header-commission"><div>ยอดเงินที่ได้รับ</div></div>
                </div>
                <semi-no-record ng-if="!commissions"></semi-no-record>
                <a class="commission-item" ng-repeat="item in commissions" href="#/app/commissions/{{item.id}}">
                    <div>{{item.date | thaiDate2}}<br/>{{item.date | thaiTime}}</div>
                    <div>{{item.commission}}</div>
                </a>
            </div>
            <div class="com-footer">
                <div class="com-header com4">
                    <!-- todo: real data -->
                    <div class="com2-content">รวมค่าคอมมิชชั่นที่ได้ประจำเดือน{{now | srifaCommission}}</div>
                    <div>{{commissionSumMonth | emptyToHyphen}}</div>
                </div>
            </div>
        </div>
    </ion-content>
    <barcode-footer></barcode-footer>
</ion-view>
