<ion-view view-title="ค่าคอมมิชชั่นที่ได้รับ" id="comm-content-page">
    <ion-content id="comm-content" class="small-padding">
        <div class="container has-barcode-footer">
            <div class="com-header com1">
                <div>{{user.surname}} {{user.lastname}}</div>
                <div ng-if="user.carnumber">ทะเบียนรถ : {{user.carnumber}}</div>
            </div>
            <div class="content-wrap" style="background-image: url('img/comm-bg-top.png')">
                <div class="header">
                    <h2>สรุปค่าคอมมิชชั่นที่ได้</h2>
                    <div class="header-item">
                        <label>วันที่รับเงิน</label><p>{{commission.date | thaiDate2}}</p>
                    </div>
                    <div class="header-item">
                        <label>เวลาที่รับ</label><p>{{commission.date | thaiTime}}</p>
                    </div>
                </div>
                <div class="content">
                    <div class="content-item">
                        <label>ค่าคอมมิชชั่น</label><p>{{commission.commission}}</p>
                    </div>
                    <div class="content-item">
                        <label>Giftset</label><p>{{commission.giftsetPrice}}</p>
                    </div>
                    <div class="content-item">
                        <label>คูปอง</label><p>{{commission.coupon}}</p>
                    </div>
                </div>
                <div class="bg-bottom" style="background-image: url('img/comm-bg-bottom.png')"></div>
            </div>
            <!--<div class="comm-header">-->
                <!--<div>สรุปค่าคอมมิชชั่นที่ได้</div>-->
            <!--</div>-->
            <!--<div class="comm-header2">-->
                <!--<div class="comm1">-->
                    <!--<div>คูปอง</div>-->
                    <!--<div>1 ใบ</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="com3">-->
                <!--<div class="comm1">-->
                    <!--<div>วันที่รับเงิน</div>-->
                    <!--<div>13/09/2559</div>-->
                <!--</div>-->
                <!--<div class="comm2">-->
                    <!--<div>เวลาที่รับ</div>-->
                    <!--<div>12:30 น.</div>-->
                <!--</div>-->
                <!--<div class="comm3">-->
                    <!--<div>ค่าคอมมิชชั่น</div>-->
                    <!--<div>500 บาท</div>-->
                <!--</div>-->
                <!--<div class="comm3">-->
                    <!--<div>Giftset</div>-->
                    <!--<div>1 ชุด</div>-->
                <!--</div>-->
                <!--<div class="comm3">-->
                    <!--<div>คูปอง</div>-->
                    <!--<div>1 ใบ</div>-->
                <!--</div>-->
            <!--</div>-->
            </div>
        </div>
    </ion-content>
    <barcode-footer></barcode-footer>
</ion-view>
