<ion-view id="content-page">
  <ion-nav-title>{{content.title}}</ion-nav-title>
  <ion-content class="medium-padding">
    <div class="container has-barcode-footer" ng-class="containerClasses">

      <div class="post-not-found" ng-if="content === null">
        ไม่พบข้อมูล
      </div>

      <div class="content-wrap" ng-if="content !== null">
        <!-- Top Header -->
        <div class="header" ng-class="header.class">
          <div class="title">{{header.title}}</div>
        </div>

        <!-- Topic Header -->
        <h2>{{content.title}}</h2>

        <!-- Content -->
        <div class=img-wrap>
          <img class="content-img" ng-src="{{content.img}}" class="full-width"/>
        </div>
        <p ng-bind-html="content.detail"></p>

        <!-- Share Facebook -->
        <div class="share-btn-wrap" ng-show="content">
          <semi-button ng-click="shareFacebook()" rounded img-right="img/icon-facebook.png">แชร์</semi-button>
        </div>

      </div>
    </div>
  </ion-content>
  <barcode-footer></barcode-footer>
</ion-view>
