<ion-view view-title="ติดต่อศรีฟ้า" id="contact-page">
  <ion-content class="normal-padding">
    <div class="title">หากท่านต้องการความช่วยเหลือ หรือมีข้อสงสัย กรุณากรอกรายละเอียด</div>
    <form name="myForm" novalidate>
      <div class="form-wrap">

        <input class="form-item" type="text" ng-model="formData.fullName" placeholder="ชื่อ" ng-if="user.anonymous" required />
        <input class="form-item" type="text" ng-model="formData.tel" placeholder="เบอร์โทรศัพท์" ng-if="user.anonymous" pattern="\d*" required />
        <input class="form-item" type="text" ng-model="formData.title" placeholder="หัวข้อ" required />
        <textarea class="form-item" ng-model="formData.subject" placeholder="ข้อความ" rows="3" required></textarea>
      </div>

      <!-- Buttons -->

      <div class="button-wrap">
        <button type="button" class="button button-block" ng-disabled="myForm.$invalid" ng-click="submitContactForm(myForm)">ส่ง</button>
      </div>

    </form>
    <!--<semi-button full-width ng-click="sendMessage()">-->
    <!--ส่ง-->
    <!--</semi-button>-->
    <div class="separator"><span>หรือโทร</span></div>
    <semi-button full-width has-link type="secondary" ng-click="callTel ({{srifa.tel}})">
      <a ng-href="tel:{{srifa.tel}}" class="link-in-btn">โทรออก</a>
    </semi-button>

    <!-- Footer -->
    <div class="footer-wrap">
        <h4>บริษัท ศรีฟ้าโฟรเซนฟู้ด จำกัด</h4>
        <p>208 ม.3 ต.วังขนาย อ.ท่าม่วง จ.กาญจนบุรี 71110</p>
        <p>โทร. 034-613074-6   แฟกซ์. 034-610307</p>
      </div>
    </div>

  </ion-content>
</ion-view>
