<ion-view view-title="แก้ไขโปรไฟล์" id="example-page">
  <ion-content class="normal-padding">
    <div class="content-wrap">
      <p>Try changing between small iPhone and bigger iPhone or iPad</p>
      <h4>Normal <b>col-x</b></h4>
      <div class="row example-wrap example1">
        <div class="col col-30">(30%) Left Text Left Text</div>
        <div class="col col-70">(70%) Right Text Right Text Right Text</div>
      </div>

      <h4>Using <b>CSS</b> and no <b>col-x</b></h4>
      <div class="row example-wrap example2">
        <div class="col">(30%) Left Text Left Text</div>
        <div class="col">(70%) Right Text Right Text Right Text</div>
      </div>

      <h4>Using <b>min-width & max-width</b></h4>
      <div class="row example-wrap example3">
        <div class="col">1. Fixed to 150px</div>
        <div class="col">2. This will fill the rest</div>
      </div>

      <p>But other percentages will not work</p>
      <div class="row example-wrap example3 not-working">
        <div class="col">1. Fixed to 150px</div>
        <div class="col col-30">30% but not working</div>
        <div class="col col-70">70% but not working</div>
      </div>

      <h4>Use <b>nested row</b> and class <b>row-no-padding</b> and remove class <b>col</b></h4>
      <div class="row example-wrap example4">
        <div class="">1. Fixed to 150px</div>
        <div class="row row-no-padding no-bg-color">
          <div class="">30%</div>
          <div class="">70%</div>
        </div>
      </div>
      <p>Too much work, right?</p>

      <h4>Better use <b>CSS</b> instead of class <b>col-x</b> <br/>( * Recommended )</h4>
      <div class="row example-wrap example5">
        <div>150px</div>
        <div>30%</div>
        <div>70%</div>
        <div>50px</div>
      </div>

      <h4>Summary</h4>
      <p>Avoiding using <b>col-x</b></p>
      <p>Using CSS (like the last example) will increase flexibility and responsiveness</p>

    </div>
  </ion-content>
</ion-view>
