<ion-modal-view view-title="Forget password" id="forget-page">
    <ion-content class="normal-padding">
        <div class="register-header">ลืมรหัสผ่าน ?</div>
        <form name="myForm" novalidate>
            <div class="form-wrap">
                <input class="form-item" type="text" ng-model="formData.number" pattern="\d*" limit-to="13"  placeholder="เลขบัตรประชาชน*" required />
                <input class="form-item" type="text" ng-model="formData.data" pattern="\d*" limit-to="10" placeholder="เบอร์โทรศัพท์*" required />
                <input class="form-item" type="password" ng-model="formData.password" placeholder="รหัสผ่านใหม่" required />
                <input class="form-item" type="password" ng-model="formData.passwordConfirm" placeholder="ยืนยันรหัสผ่านใหม่" required />
            </div>

            <div class="title">**กรุณากรอกให้ครบทุกช่อง</div>
            <!-- Buttons -->
            <div class="button-wrap">
                <button type="button" class="button secondary" ng-click="navigate('/login')">กลับ</button>
                <button type="button" class="button" ng-disabled="myForm.$invalid" ng-click="submitForgetForm(myForm)">ตกลง</button>
            </div>

        </form>
    </ion-content>
</ion-modal-view>
