<ion-view view-title="หน้าแรก" id="home-page">
  <ion-content class="small-padding">
    <div class="container has-barcode-footer" ng-class="containerClasses">

      <!-- News -->

      <div class="header news" ng-class="header.class" ng-click="navigate('/app/posts/news')">
        <!--<div class="title">ข่าวสาร</div>-->
        <div class="title">ข้อมูลข่าวสาร</div>
        <div class="header-right">
          <div class="header-right-caption">ดูทั้งหมด</div>
          <semi-img-icon src="img/icon-list.png" right="10px" scale="60%"></semi-img-icon>
        </div>
      </div>
      <semi-no-record ng-if="!news"></semi-no-record>
      <semi-post-item ng-repeat="item in news | limitTo:2" href="#/app/posts/news/{{item.id}}" thumbnail="{{item.img}}">
        {{item.title}}
      </semi-post-item>

      <!-- Promotions -->

      <div class="header promotions" ng-class="header.class" ng-click="navigate('/app/posts/promotions')">
        <div class="title">โปรโมชั่น / สินค้า</div>
        <div class="header-right">
          <div class="header-right-caption">ดูทั้งหมด</div>
          <semi-img-icon src="img/icon-list.png" right="10px" scale="60%"></semi-img-icon>
        </div>
      </div>
      <semi-no-record ng-if="!promotions"></semi-no-record>
      <semi-post-item ng-repeat="item in promotions | limitTo:2" href="#/app/posts/promotions/{{item.id}}" thumbnail="{{item.img}}">
        {{item.title}}
      </semi-post-item>

    </div>
  </ion-content>
  <barcode-footer></barcode-footer>
</ion-view>
