<ion-modal-view id="image-modal">
  <div class="modal-close" ng-click="closeImageModal()">
    <i class="icon ion-close"></i>
  </div>
  <ion-content scroll="false">
    <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="1" scrollbar-x="false" scrollbar-y="false" overflow-scroll="false">
      <div class="flex-center image-wrap">
        <img class="map-image" src="img/srifa-image-map.jpg" />
      </div>
    </ion-scroll>
  </ion-content>
</ion-modal-view>
