<ion-modal-view id="login-modal">
  <ion-content scroll="false" class="flex-center">
    <div class="container">
      <div class="logo bg-fix-height"></div>
      <h4>"The absolute solution for bakery."</h4>
      <div class="form-wrap">
        <form name="myForm" ng-submit="doRegister()" class="form-no-border">
          <input type="text" ng-model="formData.username" placeholder="ชื่อผู้ใช้ (ID)" required/>
          <input type="password" ng-model="formData.password" placeholder="รหัสผ่าน" required/>
        </form>
        <!-- Buttons -->
        <div class="button-wrap">
          <button type="button" class="button button-block" ng-disabled="myForm.$invalid" ng-click="login(myForm)">เข้าใช้งาน</button>
        </div>
      </div>
      <!--<semi-button full-width ng-click="login()">เข้าใช้งาน</semi-button>-->
      <div class="word-btn" ng-click="goToRegister()">สมัครสมาชิก</div>
      <div class="word-btn forget-password" ng-click="goToForget()">ลืมรหัสผ่าน ?</div>
      <div class="separator"><span>หรือ</span></div>
      <semi-button full-width type="outline-inverse" img-left="img/icon-facebook-white.png" ng-click="facebookLogin()">
        ล็อกอินด้วยเฟสบุ๊ค
      </semi-button>
      <div class="word-btn skip-btn" ng-click="skipLogin()">ข้าม</div>
    </div>
  </ion-content>
  <!--<ion-header-bar>-->
    <!--<h1 class="title">Login</h1>-->
    <!--<div class="buttons">-->
      <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
    <!--</div>-->
  <!--</ion-header-bar>-->
  <!--<ion-content>-->
    <!--<form ng-submit="doLogin()">-->
      <!--<div class="list">-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Username</span>-->
          <!--<input type="text" ng-model="loginData.username">-->
        <!--</label>-->
        <!--<label class="item item-input">-->
          <!--<span class="input-label">Password</span>-->
          <!--<input type="password" ng-model="loginData.password">-->
        <!--</label>-->
        <!--<label class="item">-->
          <!--<button class="button button-block button-positive" type="submit">Log in</button>-->
        <!--</label>-->
      <!--</div>-->
    <!--</form>-->
  <!--</ion-content>-->
</ion-modal-view>
