<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          <label>เมนูหลัก</label>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Note: use normal nav-bar for now -->
  <!--<semi-nav-bar></semi-nav-bar>-->

  <ion-side-menu side="left">
    <ion-content id="side-menu">
      <div class="profile">

        <!-- Avatar -->
        <!--<a menu-close class="profile-pic" ng-if="!user.anonymous" semi-bg-img="{{user.imgprofile}}" href="#/app/profile"></a>-->
        <!--<a menu-close class="profile-pic" ng-if="!user.anonymous"  ng-style="{'background-image': 'url({{ user.imgprofile }})'}" href="#/app/profile"></a>-->
        <a menu-close class="profile-pic-wrap flex-center" href="#/app/profile" ng-if="!user.anonymous">
          <img class="profile-pic" ng-src="{{ user.imgprofile }}" err-src="img/default-profile-img-2.png" />
        </a>
        <a class="profile-pic-wrap flex-center" ng-if="user.anonymous">
          <img class="profile-pic" ng-src="img/default-profile-img-2.png" err-src="img/default-profile-img-2.png" />
        </a>

        <div class="details">
          <div class="name">{{user.surname}} {{user.lastname}}</div>
          <div class="license" ng-if="user.carnumber">ทะเบียนรถ : {{user.carnumber}}</div>
        </div>
      </div>
      <div class="commission" ng-if="!user.anonymous">
        <div class="details">
          <label>รวมค่าคอมมิชชั่นที่ได้เดือนนี้</label>
          <p>{{commissionSumMonth | thaiBaht}}</p>
        </div>
      </div>
      <ion-list class="srifa-menu">
        <ion-item menu-close href="#/app/posts/news">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-news.png')"></div>
          <label>ข้อมูลข่าวสาร</label>
        </ion-item>
        <ion-item menu-close href="#/app/posts/promotions">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-promotion.png')"></div>
          <label>โปรโมชั่น / สินค้า</label>
        </ion-item>
        <ion-item menu-close href="#/app/commissions" ng-if="!user.anonymous">
          <div class="menu-icon" style="background-image: url('img/side-menu/icon-commission.png')"></div>
          <label>ค่าคอมมิชชั่น</label>
        </ion-item>
        <!--<ion-item menu-close href="#/app/shops/google-map">-->
        <ion-item menu-close href="#/app/shops/map">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-shop.png')"></div>
          <label>ศูนย์ของฝาก</label>
        </ion-item>
        <ion-item menu-close href="#/app/chats" ng-if="!user.anonymous">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-chat.png')"></div>
          <label>กล่องข้อความ</label>
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-info.png')"></div>
          <label>ติดต่อศรีฟ้า</label>
        </ion-item>

        <!-- Note: no menu-close class to prevent closing menu when click -->
        <ion-item ng-click="logout()" ng-if="!user.anonymous">
          <div class="menu-icon fix-width" style="background-image: url('img/side-menu/icon-logout.png')"></div>
          <label>ออกจากระบบ</label>
        </ion-item>

        <!--For Skipped User-->
        <ion-item ng-click="goToLogin()" ng-if="user.anonymous">
          <div class="menu-icon">
            <i class="icon ion-log-in" style="margin-top: 1px; margin-left: 0px;"></i>
          </div>
          <label>เข้าสู่ระบบ</label>
        </ion-item>

        <ion-item ng-click="goToRegister()" ng-if="user.anonymous">
          <div class="menu-icon">
            <i class="icon ion-compose" style="margin-top: 1px; margin-left: 2px;"></i>
          </div>
          <label>สมัครสมาชิก</label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
