<ion-modal-view>
    <ion-content id="login-page">
        <div class="form-login">
            <div class="row responsive-xs">
                <div class="login-containner">
                    <img src="img/logo_01.png">
                    <p>"The absolute solution for bakery."</p>
                </div>
            </div>
            <div class="responsive-xs" align="center">
                <form>
                    <div class="insert-login">
                        <label class="item-input">
                            <input type="text" placeholder="ชื่อ">
                        </label>
                    </div>
                    <div class="insert-login">
                        <label class="item-input">
                            <input type="text" placeholder="รหัสผ่าน">
                        </label>
                    </div>
                    <div class="insert-login-button">
                        <button class="button" ng-click="login()">
                            <label>เข้าใช้งาน</label>
                        </button>
                    </div>
                </form>
            </div>
            <div class="responsive-xs" align="center">
                <div class="footer-login">
                    <label>ลืมรหัสผ่าน ?</label>
                </div>
            </div>
            <div class="responsive-xs" align="center">
                <div class="footer-login">
                    <hr class="style-line">
                </div>
            </div>
            <div class="responsive-xs" align="center">
                <div class="footer-login">
                    <button class="button button-outline button-light" ng-click="loginFacebook()">
                        <label><img src="/www/img/facebook_icon.png" width="15">   ล็อกอินด้วยเฟสบุ๊ค</label>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
