<ion-view view-title="ศูนย์ของฝาก">
    <ion-content id="map-page">
        <div class="item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="ค้นหาร้านค้า">
            </label>
            <a><i class="icon ion-search placeholder-icon"></i></a>
        </div>
        <div class="row tab-menu">
            <div class="col">
                <a class="tab-item">
                    <div class="tap-icon" style="background-image: url('img/img-18.png')"></div>
                    <label>แผนที่รูปภาพ</label>
                </a>
            </div>
            <div class="col">
                <a class="tab-item">
                    <div class="tap-icon" style="background-image: url('img/img-19.png')"></div>
                    <label>แผนที่นำทาง</label>
                </a>
            </div>
        </div>


        <!--content-->
        <div ng-if="type == 'map'">
            <div class="row map-content">
                <div class="col tap-icon" style="background-image: url('img/side-menu/icon-shop.png')"></div>
                <div class="col col-80">
                    <label>ศรีฟ้าเบเกอรี่ SRIFA BAKERY</label>
                    <p>สาขา:ศูนย์ของฝาก</p>
                </div>
            </div>
            <div class="row map-address">
                <div class="title">
                    <p>ที่อยู่ : 299 ม.4 ต.วังศาลา อ.ท่าม่วง</p>
                    <p>จ.กาญจนบุรี 71110</p>
                    <p>โทรศัพท์ : 034613074</p>
                    <p>เว็บไซด์ : www.srifabakery.co.th</p>
                    <p>วัน-เวลาเปิด/ปิด : เปิดทุกวัน เวลา 07.00-20.00 น.</p>
                </div>
            </div>
            <div class="row map-content2">
                <div class="col col-33">
                    <a>
                        <div class="content-btn">
                            <div class="call-btn" style="background-image: url('img/img-20.png')"></div>
                            <label>โทรออก</label>
                        </div>
                    </a>
                </div>
                <div class="col col-33">
                    <a>
                        <div class="content-btn">
                            <div class="call-btn" style="background-image: url('img/img-21.png')"></div>
                            <label>ติดต่อ</label>
                        </div>
                    </a>

                </div>
            </div>
            <div class="row map-content3">
                <div class="col col-67 content3">
                    <div class="content-header" style="background-image: url('img/img-18.png')"></div>
                    <label>รูปภาพแผนที่</label>
                </div>
                <div class="col col-33">
                    <div class="content4">
                        <div class="content-header2" style="background-image: url('img/img-22.png')"></div>
                        <div class="title">รูปภาพแผนที่</div>
                    </div>
                </div>
            </div>
            <div class="img-map">
                <img src="img/img-23.png">
            </div>
        </div>
        <div ng-if="type == 'google-map'">
            <!--<div class="map-wrap" ng-controller ="ShopsCtrl">-->
                <!--<div id="map"></div>-->
            <!--</div>-->

            <div class="row pop-content">
                <div class="col col-50 pop-left" style="background-image: url('img/img-24.png')">
                </div>
                <div class="col col-50 pop-right">
                    <p>ศรีฟ้าเบเกอรี่</p>
                    <p>SRIFA BAKERY</p>
                    <p>สาขา : ศูนย์ของฝาก</p>
                </div>
            </div>
        </div>



    </ion-content>
</ion-view>