<ion-view view-title="หน้าแรก">
    <ion-content id="page_news">
        <div class="herder-list" align="center">
            <div class="herder-list-content">
                <div class="row">
                    <div class="col col-50" align="left">
                        <img class="img-list" src="img/img-09.png"/>
                        <label>ข่าวสาร</label>
                    </div>
                    <div class="col" align="right">
                        <label>ดูทั้งหมด</label>
                        <img class="img-list" src="img/img-10.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="" align="center">
            <ul class="list content-list-item">
                <a href="#/app/news-content">
                    <li class="content-list-item">
                    <div class="row content-list-item">
                        <div class="col col-50" align="center">
                            <img class="img-item" src="img/img-11.png"/>
                        </div>
                        <div class="col" align="left">
                            <label>25-29 พฤษภาคมนี้ พบกับโฉมใหม่ของทองม้วน "สุธีรา" ที่ชาเลนเจอร์ฮอลล์2 เมืองธองธานี</label>
                        </div>
                        <div class="btn_next-page" align="center">
                            <img src="img/arrow_next.png">
                        </div>
                    </div>
                </li>
                </a>
                <a href="#/app/news-content">
                    <li class="content-list-item">
                        <div class="row content-list-item">
                            <div class="col col-50" align="center">
                                <img class="img-item" src="img/img-13.png"/>
                            </div>
                            <div class="col" align="left">
                                <label>ขนมไทยระดับพรีเมี่ยมที่คนไทยภาคภูมิใจทองม้วน "สุธีรา"</label>
                            </div>
                            <div class="btn_next-page" align="center">
                                <img src="img/arrow_next.png">
                            </div>
                        </div>
                    </li>
                </a>
            </ul>
        </div>
        <div class="herder-list" align="center">
            <div class="herder-list-content">
                <div class="row">
                    <div class="col col-50" align="left">
                        <img class="img-list" src="/www/img/img-14.png"/>
                        <label>โปรโมชั่น</label>
                    </div>
                    <div class="col" align="right">
                        <label>ดูทั้งหมด</label>
                        <img class="img-list" src="img/img-10.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="" align="center">
                <ul class="list content-list-item">
                    <a href="#/app/news-content">
                        <li class="content-list-item">
                            <div class="row content-list-item">
                                <div class="col col-50" align="center">
                                    <img class="img-item" src="img/img-15.png"/>
                                </div>
                                <div class="col" align="left">
                                    <label>ควอตโต้เบอรี่ส่งตรงจากประเทศญี่ปุ่น หนึ่งในผลิตภัณฑ์คุณภาพจาก GOYO ที่ศรีฟ้าเบเกอรี่</label>
                                </div>
                                <div class="btn_next-page" align="center">
                                    <img src="img/arrow_next.png">
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="#/app/news-content">
                        <li class="content-list-item">
                            <div class="row content-list-item">
                                <div class="col col-50" align="center">
                                    <img class="img-item" src="img/img-16.png"/>
                                </div>
                                <div class="col" align="left">
                                    <label>ทุกการจัดเลี้ยง ทุกงานสัมนา ชุดเบรค เริ่มต้นเพียงชุดละ 15 บาทเท่านั้น</label>
                                </div>
                                <div class="btn_next-page" align="center">
                                    <img src="img/arrow_next.png">
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
        </div>
        <barcode-footer></barcode-footer>
    </ion-content>
</ion-view>
