<ion-view view-title="news-content">
    <ion-content id="page_news-content">
        <div class="news-content">
            <div class="content-header">
                <div class="responsive-lg">
                    <img src="img/img-02.png">
                    <label>โปรโมชั่น</label>
                    <hr class="style-line"/>
                </div>
                <div class="responsive-lg">
                    <label>ควอโต้เบอรี่ส่งตรงจากประเทศญี่ปุ่น</label>
                </div>
            </div>
            <div class="content-images" align="center">
                <img src="img/img-15.png">
            </div>
            <div class="content-content">
                <label>ควอโต้เบอรี่จากประเทศญี่ปุ่น หนึ่งในผลิตภัณฑ์คุณภาพจาก GOYO ที่ศรีฟ้าเบเกอรี่ นำมาอบให้คุณถึงไทยแล้ว @ห้างสรรพสินค้าอิเซตันนะคะ ซื้อ1 แถม 1 ด้วยค่ะ รีบเล้ยยย!</label>
            </div>
        </div>
        <div class="bar-footer" align="center">
            <footer>
                <img src="img/img-17.png"/>
                <p>สแกนบาร์โค๊ด</p>
            </footer>
        </div>
    </ion-content>
</ion-view>
