<ion-view view-title="{{viewTitle}}" id="posts-page">
  <ion-content class="small-padding">
    <div class="container has-barcode-footer" ng-class="containerClasses">
      <semi-no-record ng-if="!postList"></semi-no-record>
      <semi-post-item ng-repeat="item in postList" href="#/app/posts/{{postType}}/{{item.id}}" thumbnail="{{item.img}}">
        {{item.title}}
      </semi-post-item>
    </div>
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="news in newsList" href="#/app/news/{{news.id}}">-->
        <!--{{news.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </ion-content>
  <barcode-footer></barcode-footer>
</ion-view>
