<ion-view view-title="แก้ไขโปรไฟล์" id="profile-page">
  <ion-content class="normal-padding">
    <div class="container has-barcode-footer" ng-class="containerClasses">
      <div class="profile-header">
        <!--<div class="profile-pic" semi-bg-img="{{profileImg}}"></div>-->
        <div class="profile-pic-wrap flex-center">
          <img class="profile-pic" ng-src="{{user.imgprofile}}" err-src="img/default-profile-img.png" />
        </div>
      </div>
      <div class="profile-content">
        <div class="data-content">
          <div>ชื่อ :</div>
          <div>{{user.surname}}</div>
        </div>
        <div class="data-content">
          <div>นามสกุล :</div>
          <div>{{user.lastname}}</div>
        </div>
        <div class="data-content">
          <div>อีเมล์ :</div>
          <div>{{user.email}}</div>
        </div>
        <div class="data-content">
          <div>เบอร์โทรศัพท์ :</div>
          <div>{{user.tel}}</div>
        </div>
        <div class="data-content">
          <div>เลขทะเบียนรถ :</div>
          <div>{{user.carnumber}}</div>
        </div>
        <div class="data-content">
          <div>ประเภท :</div>
          <div>{{user.cartype}}</div>
        </div>
        <!--<div class="data-content">-->
        <!--<div>ประเภทอาชีพ :</div>-->
        <!--<div>พนักงานประจํา</div>-->
        <!--</div>-->
        <div class="data-content">
          <div>สังกัดบริษัท :</div>
          <div>{{user.company}}</div>
        </div>
        <div class="data-content">
          <div>ที่อยู่ :</div>
          <div>{{user.address}}</div>
        </div>
      </div>
      <div class="profile-footer">
        <div class="title">เปลี่ยนรหัสผ่าน</div>
        <form name="myForm" novalidate>
          <div class="form-content-wrap">
            <div class="form-label">รหัสผ่านเก่า</div>
            <input class="form-input" type="password" ng-model="formData.oldPassword" placeholder="รหัสผ่านเก่า" required/>
          </div>
          <div class="form-content-wrap">
            <div class="form-label">รหัสผ่านใหม่</div>
            <input class="form-input" type="password" ng-model="formData.newPassword" placeholder="รหัสผ่านใหม่" required/>
          </div>
          <div class="button-wrapp-profile">
            <div>
              <button type="button" class="button" ng-click="resetForm()">ยกเลิก</button>
            </div>
            <div>
              <button type="button" class="button" ng-click="changePassword()">บันทึก</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
  <barcode-footer></barcode-footer>
</ion-view>
