<ion-view view-title="แก้ไขโปรไฟล์" id="profile-page">
  <ion-content class="normal-padding has-barcode-footer">

    <!-- Change Password -->
    <form name="myForm" novalidate>
      <div class="profile">
        <div class="form-wrap" style="margin-bottom: 16px;">
          <div class="profile-pic" semi-bg-img="{{user.imgprofile}}"></div>
          <!--<div class="profile-pic" style="background-image: url('{{user.imgprofile}}')"></div>-->
        </div>
        <!--<div class="form-wrap">-->
          <!--<div class="upload-pix" style="background-image: url('img/upload-pic.png')"></div>-->
        <!--</div>-->

        <div class="form-wrap">
          <div class="title">
            <div>ชื่อ :</div>
            <div>{{user.surname}}</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>นามสกุล :</div>
            <div>{{user.lastname}}</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>อีเมล์ :</div>
            <div>{{user.email}}</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>เบอร์โทรศัพท์ :</div>
            <div>{{user.tel}}</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>เลขทะเบียนรถ :</div>
            <div>{{user.carnumber}}</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>ประเภท :</div>
            <div>รถตู้</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>ประเภทอาชีพ :</div>
            <div>พนักงานประจํา</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>สังกัดบริษัท :</div>
            <div>บริษัท ทัวร์ จำกัด</div>
          </div>
        </div>
        <div class="form-wrap">
          <div class="title">
            <div>ที่อยู่ :</div>
            <div>12/6 ม.12 ต.วังขนาย อ.ท่าม่วง จ.กาญจนบุรี 71110</div>
          </div>
        </div>
        <div class="content-wrap">
          <div>เปลี่ยนรหัสผ่าน</div>
        </div>

        <!-- Change Password -->

        <form name="myForm" novalidate>
          <div class="form-content-wrap">
            <div class="form-label">รหัสผ่านเก่า</div>
            <input class="form-input" type="password" ng-model="formData.password" placeholder="รหัสผ่าน" required/>
          </div>
          <div class="form-content-wrap">
            <div class="form-label">รหัสผ่านใหม่</div>
            <input class="form-input" type="password" ng-model="formData.passwordConfirm" placeholder="ยืนยันรหัสผ่าน" required/>
          </div>
          <div class="button-wrap">
            <div>
              <button type="button" class="button" ng-click="resetForm()">ยกเลิก</button>
            </div>
            <div>
              <button type="button" class="button" ng-click="changePassword()">บันทึก</button>
            </div>
          </div>
        </form>

      </div>

      <!-- Buttons -->
      <!--<div class="button-wrap">-->
      <!--<button type="button" class="button button-block" ng-disabled="myForm.$invalid" ng-click="submitRegisterForm(myForm)">ยืนยันการสมัคร</button>-->
      <!--</div>-->
    </form>

  </ion-content>
  <barcode-footer></barcode-footer>
</ion-view>
