<ion-modal-view view-title="Register" id="register-page">
  <ion-content class="normal-padding flex-center">
    <div class="register-header">สมัครสมาชิก</div>
    <form name="myForm" novalidate>
      <div class="form-wrap">
        <input class="form-item" type="text" ng-model="formData.name" placeholder="ชื่อ" required />
        <input class="form-item" type="text" ng-model="formData.lastname" placeholder="นามสกุล" required />
        <input class="form-item" type="email" ng-model="formData.email" placeholder="อีเมล์" />
        <!--<input class="form-item" type="text" ng-model="formData.tel" placeholder="เบอร์โทรศัพท์" pattern="\d*" limit-to="10" required />-->
        <input class="form-item" type="tel" ng-model="formData.tel" placeholder="เบอร์โทรศัพท์" pattern="\d*" limit-to="10" required />
      </div>

      <!-- Buttons -->

      <div class="button-wrap">
        <button type="button" class="button button-block" ng-disabled="myForm.$invalid" ng-click="submitRegisterForm(myForm)">ยืนยันการสมัคร</button>
        <!--<button type="button" class="button button-block secondary" ng-click="navigate('/login')">กลับ</button>-->
        <button type="button" class="button button-block secondary" ng-click="backFromRegister()">กลับ</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
