<ion-view view-title="ศูนย์ของฝาก" id="map-page">
    <div class="bar bar-subheader">
        <div class="tab-menu">
            <div ng-click="setType('map')" class="flex-center" ng-class="{active: type == 'map'}">
                <div class="icon-map"></div>
                <label>แผนที่รูปภาพ</label>
            </div>
            <div ng-click="setType('google-map')" class="flex-center" ng-class="{active: type == 'google-map'}">
                <div class="icon-google-map"></div>
                <label>แผนที่นำทาง</label>
            </div>
        </div>
    </div>

    <ion-content id="map-content" class="has-subheader">

        <!-- Search -->

        <!--<div class="item-input-inset">-->
            <!--<label class="item-input-wrapper">-->
                <!--<input type="text" placeholder="ค้นหาร้านค้า">-->
            <!--</label>-->
            <!--<a><i class="icon ion-search placeholder-icon"></i></a>-->
        <!--</div>-->

        <!-- Tabs -->

        <!--<div class="tab-menu">-->
            <!--<a ng-click="navigate('/app/shops/map')" class="flex-center" ng-class="{active: type == 'map'}">-->
                <!--<div class="icon-map"></div>-->
                <!--<label>แผนที่รูปภาพ</label>-->
            <!--</a>-->
            <!--<a ng-click="navigate('/app/shops/google-map')" class="flex-center" ng-class="{active: type == 'google-map'}">-->
                <!--<div class="icon-google-map"></div>-->
                <!--<label>แผนที่นำทาง</label>-->
            <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!-- Content -->
        <div class="detail-wrap" ng-show="type == 'map'">
            <div class="row map-content">
                <div class="col tap-icon" style="background-image: url('img/side-menu/icon-shop.png')"></div>
                <div class="col col-80">
                    <label>ศรีฟ้าเบเกอรี่ SRIFA BAKERY</label>
                    <p>สาขา:ศูนย์ของฝาก</p>
                </div>
            </div>

            <!-- Each Shop -->

            <div ng-repeat="shop in content">
                <div class="row map-address">
                    <div class="title">
                        <p><strong>ที่อยู่</strong> : {{shop.address}}</p>
                        <p><strong>โทรศัพท์</strong> : {{shop.tel}}</p>
                        <p><strong>เว็บไซต์</strong> : {{shop.website}}</p>
                        <p><strong>วัน-เวลาเปิด/ปิด</strong> : เปิดทุกวัน เวลา {{shop.openTime}}</p>
                    </div>
                </div>
                <div class="map-content2">
                    <semi-button rounded img-right="img/icon-phone.png" style="margin-right: 10px;" ng-click="callTel(shop.tel)">
                        <a ng-href="tel:{{shop.tel}}" class="link-in-btn">โทรออก</a>
                    </semi-button>
                    <!--<semi-button rounded img-right="img/icon-email.png">-->
                        <!--ติดต่อ-->
                    <!--</semi-button>-->
                </div>
                <div class="img-map">
                    <semi-button rounded type="outline" color="primary" img-left="img/icon-search.png" style="float: right" ng-click="openImageModal()">
                        รูปภาพแผนที่
                    </semi-button>
                    <!-- todo: real map image (api doesn't provider one) -->
                    <!--<img src="{{shop.img}}">-->
                    <img src="img/srifa-image-map.jpg">
                </div>
            </div>

        </div>
        <!-- Google Map -->

        <div class="map-wrap" ng-show="type == 'google-map'">
            <!--<div id="map" data-tap-disabled="true"></div>-->
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16784.772724223283!2d100.56114641808341!3d13.797529726681805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29dcbaa5ae961%3A0xa75bb5246981301d!2zMjM1IOC4peC4suC4lOC4nuC4o-C5ieC4suC4pyDguYHguILguKfguIcg4Liq4Liy4Lih4LmA4Liq4LiZ4LiZ4Lit4LiBIOC5gOC4guC4lSDguKvguYnguKfguKLguILguKfguLLguIcg4LiB4Lij4Li44LiH4LmA4LiX4Lie4Lih4Lir4Liy4LiZ4LiE4LijIDEwMzEw!5e0!3m2!1sth!2sth!4v1482397559042" frameborder="0" style="border:0;height: 100%" allowfullscreen></iframe>-->
            <div class="iframe-wrap">
                <div class="navigate-btn" ng-click="launchNavigator()">นำทาง</div>
                <iframe ng-src="{{googleMapIframeUrl}}" frameborder="0" style="position:relative; border:0;height: calc(100% + 40px); margin-top: -40px; width:100%; z-index: 0"></iframe>
            </div>
        </div>

    </ion-content>
</ion-view>