/*
Put YOUR style here
*/

button.button.button-icon.button-clear.ion-navicon::after {
  border-style: solid;
  border-radius: 5px;
  border-color: $primary-font-color;
  border-width: thin;
  height: 30px;
  margin: 5px 5px 0;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

#login-page {
  width: 100%;
  border-radius: 0px;
  background-image: url("../img/back_01.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 100%;
  .login-containner {
    text-align: center;
    width: 100%;
  }
  .login-containner img {
    width: 110px;
    margin: 90px 0 0;
  }
  .login-containner p {
    font-size: 1rem;
    font-weight: 500;
    color: $primary-color;
  }
  .insert-login {
    padding-top: 10px;
    width: 100%;
  }
  .insert-login-button {
    padding-top: 10px;
    width: 100%;
  }
  .insert-login input, .insert-login label {
    input::-moz-placeholder {
      color: $secondary-diff-color;
      font-size: 1rem; }
    input:-ms-input-placeholder {
      color: $secondary-diff-color;
      font-size: 1rem; }
    input::-webkit-input-placeholder {
      color: $secondary-diff-color;
      font-size: 1rem; }

    background-color: #33a5bf;
    border: none;
    width: 95%;
  }
  .insert-login-button button, .insert-login-button label {
    width: 95%;
    border-radius: 0;
    background-color: $secondary-color;
    color: $font-color;
    font-size: 1rem;
    font-weight: bold;
  }
  .footer-login {
    padding-top: 20px;
    width: 95%;
    font-size: 1rem;
    font-weight: 500;
    color: $secondary-diff-color;
  }
  .footer-login hr.style-line {
    padding: 0;
    border: none;
    border-top: 1px solid #D9D9D9;
    color: #d1d3d6;
    text-align: center; }

  .footer-login hr.style-line::after {
    content: "   หรือ   ";
    display: inline-block;
    position: relative;
    top: -0.5em;
    font-size: 1rem;
    font-weight: 100;
    padding: 0 0.5em;
    background-color: #008faf;
    color: #D9D9D9;
  }
  .footer-login button {
    width: 95%;
    font-size: 1rem;
    font-weight: 500;
  }
}
#menu-page {

  .item-menu {
    text-align: center;
    border-color: #008faf;
    background-color: #008faf;
    color: $secondary-diff-color;
    height: 133px;
  }
  .item-avatar,
  .item-avatar .item-content,
  .item-avatar-left,
  .item-avatar-left .item-content {
    padding-left: 72px;
    min-height: 72px; }
  .item-avatar > img:first-child,
  .item-avatar .item-image,
  .item-avatar .item-content > img:first-child,
  .item-avatar .item-content .item-image,
  .item-avatar-left > img:first-child,
  .item-avatar-left .item-image,
  .item-avatar-left .item-content > img:first-child,
  .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 30px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .second-menu {
    text-align: center;
    border-color: #ffc423;
    background-color: #ffc423;
    color: $font-color;
    height: 83px;
    border: 0;
  }
  .second-menu p {
    font-size: 1rem;
  }
  .second-menu-item {
    margin-top: -1px;
  }
  .group-img-menu .img-menu {
    max-width: 28px;
    max-height: 25px;
    padding-right: 10px;
    border: 0;
  }
  .group-img-menu label {
    font-size: 1rem;
    font-weight: 500;
    color: $font-color;
  }
  .group-img-menu {
    max-height: 42px;
    margin-top: -10px;
  }
}
#page_news {

  .herder-list {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 5px;
  }
  .herder-list-content {
    background-color: #008faf;
    width: 98%;
    top: -1px;
    color: $secondary-diff-color;
    max-height: 25px;
    padding-top: 1px;
  }
  .img-list {
    max-width: 15px;
    max-height: 15px;
  }
  .herder-list-content .col {
    padding: 0px;
    margin-top: -3px;
  }
  .content-list-item a {
    text-decoration: none;
  }
  .herder-list-content label {
    font-weight: 800;
    font-size: 0.9rem;
  }
  .img-item {
    max-width: 100%;
  }
  .content-list-item label {
    font-size: 1rem;
    font-weight: 400;
    color: $font-color;
  }
  .btn_next-page img {
    width: 12px;
    padding-top: 60px;
    position: relative;
  }
  .bar-footer {
    border-color: #008faf;
    background-color: #008faf;
    margin: 40px 0 0;
    padding-bottom: 0px;
    padding: 0px;
  }
  .bar-footer img {
    width: 100px;
    margin: -62px 0 0;
  }
  .bar-footer p {
    padding: 0;
    border: 0;
    margin: -20px 0 0;
    max-height: 30px;
    color: $secondary-diff-color;
    font-size: 0.9rem;
    font-weight: 800;
  }
}
#page_news-content {
  height: 100%;
  .news-content {
    height: 100%;
  }
  .content-header {
    padding: 20px 5px 0;
    width: 100%;
  }
  .content-header img {
    width: 26px;
  }
  .content-header label {
    font-size: 1rem;
    font-weight: 800;
    color: $font-color;
  }
  .content-header hr.style-line {
    padding: 0;
    border: none;
    border-top: 1px solid #008faf;
    color: #008faf;
  }

  .content-header hr.style-line::after {
    position: relative;
    top: -0.5em;
    font-size: 1rem;
    font-weight: 100;
    padding: 0 0.5em;
  }
  .content-images {
    width: 100%;
  }
  .content-images img {
    width: 100%;
    padding: 10px 0 0;
  }
  .content-content {
    color: $secondary-color;
    margin: 5px 10px 10px;
    width: 95%;
  }
  .content-content label {
    font-size: 1rem;
    font-weight: 500;
  }
  .bar-footer {
    border-color: #008faf;
    background-color: #008faf;
    margin: 40px 0 0;
    padding-bottom: 0px;
    padding: 0px;
  }
  .bar-footer img {
    width: 100px;
  }
  .bar-footer p {
    padding: 0;
    border: 0;
    max-height: 30px;
    color: $secondary-diff-color;
    font-size: 0.9rem;
    font-weight: 800;
  }

}
