// --- Row & Col

#example-page {
  // Example decoration (ignore this)
  h4 { font-size: 1rem; font-weight: 400; border-bottom: 1px solid #DDDDDD; padding-bottom: 10px; margin-top: 40px; color: $font-color; }
  p { font-size: 0.9rem; font-style: italic; }

  // Background colors
  .example-wrap {
    background-color: #DDDDDD;
    div {
      &:first-child { background-color: #8ae234; }
      &:nth-child(2) { background-color: #0a9dc7; }
      &:nth-child(3) { background-color: #bababa; }
      &:last-child { background-color: #00A000; }
    }
    .no-bg-color { background-color: transparent !important; }
  }

  // !!! Study Below
  .example1 {
  }

  .example2 {
    & > div {
      &:first-child { max-width: 30%; }
      &:last-child { }
    }
  }

  .example3 {
    & > div {
      // Note: must use both `min-width` and `max-width` because the class `row`
      &:first-child { max-width: 150px; min-width: 150px; } // fixed
      &:last-child { }
    }
  }

  .example4 {
    & > div {
      &:first-child { max-width: 150px; min-width: 150px; } // fixed
      & > div {
        &:first-child { width: 30%; background-color: #00d6b2; }
        &:last-child { width: 70%; }
      }
    }
  }

  .example5 {
    & > div {
      &:first-child { max-width: 150px; min-width: 150px; } // fixed
      &:nth-child(2) { width: 30%; }
      &:nth-child(3) { width: 70%; }
      &:nth-child(4) { max-width: 50px; min-width: 50px; }
    }
  }
}
