/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

// Variables
@import "semi-variables";

// Semi
@import "semi-mixins";
@import "semi-responsive";
@import "semi-directives";

// For learning SCSS (do not delete)
@import "example";

// Theme
@import "main-theme";
@import "main-theme-2"; // for mocking
@import "pages";

// separate files because they're too long
@import "page-shops";
@import "page-chats";
@import "page-commissions";



