/*
Put the main theme style here
*/

body { @extend %font-family; }

// Overrides Ionic
// ----------------------------------------

//.pane.modal {
//  @include responsive(tablet) {
//    // makes modal full-screen on tablet
//    width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0;
//  }
//}

// Directives
// ----------------------------------------

.nav-bar-block .bar {
  background-color: $primary-color; border-color: $primary-color;
  .title, .button.button-clear { color: $primary-font-color; }
}

.barcode-footer {
  margin-top: 30px; background-color: $primary-color; position: fixed; bottom: 0; width: 100%; height: 40px;
  .barcode-btn {
    width: 100%; padding-bottom: 26%; position: absolute; bottom: 0;
    @extend %bg-fix-height; background-image: url("../img/barcode-btn.png");
    @include responsive(tablet) {
      padding-bottom: 12%;
    }
  }
  p {
    position: absolute; bottom: 0; width: 100%; margin: 0;
    font-size: 0.8rem; font-weight: 500; color: $primary-font-color; text-align: center;
  }
  &.anonymous { display: none; }
}


// Common
// ----------------------------------------

// --- Inputs

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], textarea {
  padding: 2px 18px 1px 18px;
  @extend %font-family; font-size: 1rem; line-height: 1.2rem;
  border: thin solid $font-color-2;

  // disable iPhone style
  -webkit-border-radius:0;
  border-radius:0;

  // --- form styles
  .form-no-border & {
    border: 0;
  }
}

// without `textarea`
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  height: 2.5rem;
}
textarea {
  padding-top: 12px; padding-bottom: 12px;
}

// --- Background & Image

img.full-width { width: 100%; height: auto; }
.fix-width { background-size: 100% auto !important; }
.fix-height { background-size: auto 100% !important; }

// --- Paddings

.scroll {
  display: inline-block; width: 100%;
  .small-padding & { padding: $small-padding; }
  .medium-padding & { padding: $medium-padding; }
  .normal-padding & { padding: $normal-padding; }
  .has-barcode-footer & { padding-bottom: 100px !important; }
}

.container {
  display: inline-block; width: 100%;
  &.has-barcode-footer {
    padding-bottom: $barcode-padding !important;
  }
  &.has-barcode-footer.anonymous {
    padding-bottom: $bottom-padding !important;
  }
}

// --- Others

.separator {
  width: 100%; margin: 16px 0;
  opacity: 0.75; text-align: center; float: left; position: relative; color: white;
  &::before { content: ""; display: block; float: left; position: absolute; height: 0; border-bottom: 1px solid white; top: 50%; width: 100%; }
  span { position: relative; z-index: 1; background-color: $primary-color; padding: 0 5px; }
}

.link-in-btn { color: white; width: 100%; height: 100%; text-decoration: none; display: inline-block; }



////------------------------------------loading-div
//.loading-div{
//  width: 100%; @extend %flex-center;
//  top:50%; padding-top: 50%;
//}