/*
Put YOUR style here
!!! Read my comment too !!!
*/
//#profile-page{
//  .profile {
//    .form-wrap{
//      width: 100%;@extend %flex-center;
//      .profile-pic {
//        width: 100px; padding-bottom: 70px;
//        background-color: white; @extend %bg-fix-height; @include border-radius(35px);}
//      .upload-pix{ width: 100px; padding-bottom: 20px; @extend %bg-fix-height; margin-bottom: 10px; }
//      .title{
//        width: 100%;@extend %flex-center; color: $font-color-2; border-bottom-style: solid;
//        border-bottom-color: $font-color-2; border-width: thin;
//        div:first-child {
//          width: 130px; font-size: 1rem;text-align: right; font-weight: 400; padding: 10px 10px;
//        }
//        div:last-child {
//          width: calc(100% - 130px); font-size: 1rem; padding: 10px 10px; font-weight: 600;
//        }
//      }
//    }
//
//
//    //.asdf{
//    //  width: 100%; color: $font-color-2; border: thin solid $font-color-2;
//    //  div { float: left; }
//    //  div:first-child { width: 150px; font-size: 1rem;text-align: right; font-weight: 300;
//    //    padding: 10px 10px;
//    //  }
//    //  div:last-child { width: calc(100% - 150px); font-size: 1rem; padding: 10px 10px; font-weight: 700;}
//    //}
//
//
//    .content-wrap{
//      padding: 15px 5px; color: $font-color;font-weight: 500;font-size: 1.1rem;
//    }
//    .form-content-wrap{
//      width: 100%; padding: 5px 5px; color: $font-color-2; float: left;
//      .form-label {
//        width: 120px; font-size: 1rem;text-align: right; font-weight: 300; float: left; padding: 0 10px 0 0;
//      }
//      .form-input {
//        width: calc(100% - 120px); font-size: 1rem; padding: 0 10px; font-weight: 700; float: left;
//      }
//    }
//    .button-wrap{
//      width: 100%; padding: 25px 0 0; @extend %flex-center;
//      div:first-child {
//        width: 50%; font-size: 1rem; padding: 0 5px;
//        button { background-color: $font-color-2; color: white; }
//      }
//      div:last-child {
//        width: 50%; font-size: 1rem; padding: 0 5px;
//        button{ background-color: $secondary-color; color: $font-color; }
//      }
//      button {
//        font-weight: 700; font-size: 1.1rem; width: 100%;
//        min-height: 40px; height: 40px; line-height: 40px; @extend %font-family; @include border-radius(0px);
//      }
//    }
//  }
//}

//====profileMock-page====

#profile-page {
  .profile-header {
    width: 100%; @extend %flex-center;
    .profile-pic-wrap {
      width: 100px; height: 100px; float: left;
      @include border-radius(50%); overflow: hidden; background-color: white; border: thin solid $border-color;
      .profile-pic { width: auto; height: 100%; align-self: center; float: left; display: flex; }
      @include responsive(tablet) {
        width: 150px; height: 150px;
      }
    }
    //.profile-pic {
    //  width: 100px; padding-bottom: 100px; border: thin solid $border-color;
    //  background-color: white; @extend %bg-fix-height; @include border-radius(50px);
    //  @include responsive(tablet) {
    //
    //  }
    //}
  }
  .profile-content {
    div { float: left; }
    .data-content {
      width: 100%; color: $font-color-2; border-bottom: solid thin $font-color-2;
      div:first-child {
        width: 130px; font-size: 1rem; text-align: right; font-weight: 400; padding: 10px 10px;
      }
      div:last-child {
        width: calc(100% - 130px); font-size: 1rem; padding: 10px 10px; font-weight: 600;
      }
      @include responsive(tablet) {
        div:first-child {
          width: 50%;
        }
        div:last-child {
          width: 50%;
        }
      }
    }
  }
  .profile-footer {
    .title { padding: 15px 0; color: $font-color; font-weight: 600; font-size: 1rem; }
    div { float: left; }
    .form-content-wrap {
      padding: 5px 0; width: 100%;
      div:first-child {
        width: 130px; font-size: 1rem; text-align: right; font-weight: 400; padding: 10px 10px;
      }
      input:last-child {
        width: calc(100% - 130px); font-size: 1rem; padding: 10px 10px; font-weight: 600;
      }
    }
    .button-wrapp-profile {
      width: 100%; padding: 25px 0 0; font-size: 1rem; font-weight: 600;
      div { float: left; }
      div:first-child {
        max-width: 50%; min-width: 50%; font-size: 1rem; padding: 0 5px;
        button { background-color: $font-color-2; color: white; }
      }
      div:last-child {
        max-width: 50%; min-width: 50%; font-size: 1rem; padding: 0 5px;
        button { background-color: $secondary-color; color: $font-color; }
      }
      button {
        font-weight: 700; font-size: 1.1rem; width: 100%;
        min-height: 40px; height: 40px; line-height: 40px; @extend %font-family; @include border-radius(0px);
      }
    }
  }
}
//
//.platform-android {
//  // here
//  .container.has-barcode-footer {
//    padding-bottom: $barcode-padding !important;
//  }
//  //.button-wrapp-profile,.container,.content-wrap{
//  //  //here done
//  //  display:inline-block !important;
//  //  padding-bottom: $barcode-padding !important;
//  //}
//  //.com-footer{
//  //  padding-bottom: $barcode-padding !important;
//  //}
//}

//====forget-password-page====

#forget-page {
  .scroll { display: block; }
  .title { font-size: 0.9rem; color: red; text-align: left;padding: 15px 5px; margin-top: -15px }
  .form-wrap {
    input, textarea {
      width: 100% !important; margin: 10px 0;
    }
    textarea {  }
  }
  .register-header { color: $font-color; width: 100%; text-align: center; font-size: 1.4rem; line-height: 1.2rem; padding: 6px 0 24px 0; }
  button { float: left; }
  .button-wrap {
    width: 100%; margin-top: 10px;
    button:first-child {float: left;max-width: 48%; min-width: 48%; font-size: 1rem; padding: 0 5px;}
    button:last-child {float: right; max-width: 48%; min-width: 48%; font-size: 1rem; padding: 0 5px;}
    .button {
      background-color: $secondary-color; color: $font-color; min-height: 32px; height: 40px; line-height: 40px;
      @include border-radius(0); font-weight: 600; @extend %font-family;
    }
    .button.secondary { background-color: $primary-color; color: white; }
  }
  .separator {
    margin: 7px 0; font-size: 0.8rem;
    span { color: $font-color; background-color: white; }
    &::before { border-color: $font-color; }
  }
  .footer-wrap {
    text-align: center; margin-top: 16px;
    h4 { color: $font-color; font-size: 0.9rem; margin: 0; @extend %font-family; font-weight: 500; }
    p { color: $font-color-2; font-size: 0.75rem; line-height: 1rem; margin: 0; }
  }
}
