/*
* Page: Commissions
*/

#commissions-page, #comm-content-page {
  //#commissions-content { padding: 4px 4px; } // Note: you should specifying padding here instead of for each element
  .com-header {
    width: 100%; height: 32px; line-height: 32px; // line-height = height, to vertical align center
    font-size: 0.9rem; padding: 0 6px; margin-top: -1px;
    color: $font-color-2; display: inline-block; overflow: hidden;
    &.com1 {
      font-size: 0.75rem; // small font size for someone with long name
      background-color: $secondary-color; height: 24px; line-height: 24px;
      .full-name { float: left; width: calc(100% - 100px) }
      .car-number { float: right; }
    }
    &.com2, &.com4 {
      border: thin solid $font-color; // Note: use this instead of > border-style: solid; border-color: $secondary-font-color; border-width: thin;
      color: $font-color;
      div:first-child { float: left; }
      div:last-child { float: right; font-size: 1.2rem; }
      .com2-content { position: absolute; line-height: 1em; width: 60%; }
    }

    &.com-fromto-title {
      background-color: $primary-color; color: white; text-align: center;
      .title { width: 100%; }
    }

    // Form
    // --------------------
    &.com3 {
      color: white; background-color: $primary-color; font-size: 0.8rem;
      margin-top: -4px;
      div { float: left; }
      .form-wrap {
        width: 100%; text-align: right;

        // sum = 80px
        $text-year-width: 16px;
        $text-month-width: 40px;
        $text-to-width: 24px;

        // --- texts
        .text-year { width: $text-year-width; text-align: center; }
        .text-month { width: $text-month-width; text-align: center; }
        .text-to { width: $text-to-width; text-align: center; }

        .select-wrap {
          width: calc(36% - 80px / 3); padding: 5px 0; position: relative;
          &.year-select {
            width: calc(28% - 80px / 3) !important;
          }
          select {
            width: 100%; float: left; border: 0; @extend %font-family; height: 23px; font-size: 0.8rem; padding: 0 4px;
            @include responsive(small-mobile) {font-size: 0.6rem;} //  --------------- add responsive
            // disable iPhone style
            @include appearance(none); @include border-radius(0); background-color: white;
          }
          .calendar-icon {
            width: 18px; height: 23px; position: absolute; top: 5px; right: 2px; z-index: 1;
            background-image: url("../img/calendar.png"); background-color: white; @include background(center, auto 70%);
          }
          .icon {
            position: absolute; color: $primary-color; top: 3px; right: 4px; font-size: 0.75rem;
          }

          &.to {

          }
        }
      }
      // todo: delete this
      //.select-drop { background-color: white; @include border-radius(0%); border-style: solid;
      //  background-image: url("../img/calendar.png"); background-repeat: no-repeat; background-size: 15px;
      //}
    }

    &.com4 {
      padding-top: 4px; padding-bottom: 4px; margin-top: 10px; height: auto;
    }
  }

  .commission-list {
    width: 100%; display: inline-block;
    div, & > a { float: left; }
    .header-wrap {
      width: 100%; color: white; padding-bottom: 3px; border-bottom: thin solid $border-color;
      & > div { box-sizing: border-box;
        & > div { background-color: $font-color-2; width: 100%; padding: 0 6px; font-size: 0.8rem; line-height: 1.4rem; }
      }
      div.header-date { width: 40%; padding-right: 3px; }
      div.header-commission { width: 60%; }
    }
    // List Items
    .commission-item {
      color: $font-color-2; border-bottom: thin solid $border-color;
      background-image: url('../img/arrow_next.png'); @include background(right center, $chevron-size auto);
      & > div { padding: 10px 5px; }
      div:first-child { width: 40%; font-size: 0.9rem; }
      div:last-child { width: 60%; font-size: 1.1rem; }
      width: 100%;
    }
  }
}
// Content Page
// ------------------------------------

#comm-content-page {
  #comm-content {
    .content-wrap {
      float: left; position: relative; background-image: url('../img/comm-bg-top.png');
      width: 100%; padding: 8% 5% 60px 5%; box-sizing: border-box; margin-top: 10px;
      &, .bg-bottom { background-repeat: no-repeat; background-size: 100% auto; }
      .bg-bottom {
        position: absolute; width: 100%; height: 100%; bottom: 0; left: 0; z-index: -1;
        background-position: center bottom; background-image: url('img/comm-bg-bottom.png');
      }
      div, p, label { float: left; }
      .header {
        width: 100%; border-bottom: thin solid $border-color; padding-bottom: 10px;
        h2 { text-align: center; font-size: 1.1rem; @extend %font-family; font-weight: 600; }
        .header-item {
          width: 100%; font-size: 0.95rem;
          label { width: 50%; padding: 0 0 0 12%; font-size:0.95rem; }
          p { width: 50%; font-weight: 600; margin-bottom: 0; }
        }
      }
      .content {
        width: 100%;
        .content-item {
          width: 100%; border-bottom: thin solid $border-color; padding: 10px 5px; line-height: 1.2rem;
          label { width: 50%; font-size: 1rem; }
          p { width: 50%; font-weight: 600; margin: 0; text-align: right; }
        }
      }
    }
  }
}
