/*
* Page: Chats
*/

#chats-page {
  .chat-item {
    position: relative; float: left; display: block; width: 100%;
    height: 60px; padding: 20px; border-bottom: thin solid $border-color; color: $font-color;
    background-image: url('../img/arrow_next.png');
    @include background(right 20px center, $chevron-size auto); // use this instead of ...
    //background-repeat: no-repeat; background-size: 15px; background-position: right center;
    div.title {
      float: left; font-size: 1rem; color: $secondary-font-color
    }
    div.date {
      font-size: 0.7rem; color: $font-color-2;
      position: absolute; bottom: 2px; right: 32px;
      float: right; margin-right: 10px; margin-top: 10px;
    }
  }
}
// Bad example: border, too condensed, bad padding, wrong place to put background image

//#chats-page{
//  padding: 2.5px 2.5px;
//  .chat-item{
//    height: 60px; padding-top: 20px;
//    border-bottom-width: thin; border-bottom-color: $font-color-2; border-bottom-style: solid;
//    div:first-child { float: left; margin-left: 30px; font-size: 1rem; color: $secondary-font-color}
//    div:last-child { float: right; background-repeat: no-repeat; background-size: 15px; background-position: center right;
//      margin-right: 10px ; font-size: 0.8rem ; color: $font-color-2; margin-top: 10px}
//  }
//}

// ChatRoom
// ----------------------------------------

#chatroom-page {
  background-color: #f8f9f9; padding: 2.5px 2.5px;

  // ----- Header

  .chatroom-header {
    text-align: center; padding: 0; width: 100%;
    div:first-child { font-size: 1rem; color: $secondary-font-color; font-weight: 500; margin-top: -2px; }
    div:last-child { font-size: 0.85rem; color: $font-color-2; }
  }

  // ----- Footer

  .chatroom-footer {
    background-color: #E5E5E5; width: 100%; height: 44px; position: fixed; bottom: 0; left: 0; padding: 6px; box-sizing: border-box;
    &, div, input, .button, i { float: left; }

    .input-wrap {
      width: calc(100% - 122px); padding: 0 6px 0 0;
      //==============
      .active{
        width:calc(100% + 28px); margin-left: -30px;
      }
      input { height: 32px; line-height: 32px; font-size: 0.9rem; padding: 0 10px; border: 0; @include border-radius(2px); display: block; width: 100%; }
    }
    .button {
      width: 90px; height: 32px !important; min-height: 32px; background-color: $primary-color; font-size: 0.9rem;
      clear: none; line-height: 32px; margin: 0; padding: 0;
    }
    i { color: $font-color; width: 28px; margin-right: 4px; line-height: 32px; font-size: 1.2rem; text-align: center; }
    //.col-10 {
    //  @include background(center, 22px auto); background-image: url('../img/icon-add.png'); height: 100%;
    //}
    //.col-60 {
    //  input {
    //    @include border-radius(5px); height: 30px; width: 100%; }
    //}
    //.col {
    //  button {
    //    background-color: $secondary-font-color; @include border-radius(5px); border-style: solid; font-size: 0.8rem; color: white; font-weight: 700;
    //    height: 30px; margin-top: 0px }
    //}
  }

  // ----- Content

  .inbox-not-found {
    text-align: center;
  }

  .chatroom-content {
    background-color: #eee; padding: $normal-padding; display: inline-block;
    .scroll { padding-bottom: $normal-padding; display: inline-block; }
    .message {
      width: 90%; min-width: 288px; max-width: 600px; margin: 10px 0; float: left; box-sizing: border-box;
      div, img { float: left; }


      // --- Profile Pic
      .message-avatar {
        width: 45px; height: 45px; float: left;
        @include border-radius(35px); overflow: hidden; background-color: white;
        .img-avatar { width: auto; height: 100%; align-self: center; float: left; display: flex; }
      }


      //.message-avatar {
      //  width: 45px; padding-bottom: 45px; @include background(center top, auto 100%); background-color: white; @include border-radius(50%);
      //}
      .message-text {
        max-width: calc(100% - 120px); padding: 8px 10px; margin: 0 8px; position: relative;
        @include border-radius(0.25rem); background-color: white; font-size: 1rem; line-height: 1.2rem; word-wrap: break-word;
      }
      .message-status {
        width: 50px; font-size: 0.6rem; line-height: 0.85rem;
        position: absolute; right: -56px; bottom: 0; color: #555;
        .status-read { }
        .status-time { clear: both; }
      }

      // --- Reply
      &.reply {
        float: right;
        div, img { float: right; }
        .message-status {
          left: -56px;
        }
      }
    }
  }

  // Note: very wrong!

  //.chatroom-item {
  //  padding: 15px 15px; width: 80%; float: left;
  //  img {
  //    height: 50px; width: 50px; @include border-radius(50%); margin-top: 0px;
  //  }
  //  .title {
  //    font-size: 0.8rem; font-weight: 500; color: $font-color-2; margin-left: 10px;
  //    background-color: white; padding: 4px 10px; width: 200px; @include border-radius(5px)
  //  }
  //  .title-time {
  //    font-size: 0.5rem; font-weight: 500; color: $font-color-2; margin-left: 0px;
  //    padding: 0 5px; vertical-align: text-bottom;
  //  }
  //}
  //.chatroom-item-re {
  //  padding: 15px 15px; width: 80%; float: right;
  //  img {
  //    height: 50px; width: 50px; @include border-radius(50%); margin-top: 0px;
  //  }
  //  .title {
  //    font-size: 0.8rem; font-weight: 500; color: $font-color-2; margin-right: 10px;
  //    background-color: white; padding: 4px 10px; width: 200px; @include border-radius(5px)
  //  }
  //  .title-time {
  //    font-size: 0.5rem; font-weight: 500; color: $font-color-2; margin-right: 0px;
  //    padding: 0 5px; vertical-align: text-bottom;
  //  }
  //}
}
