/*
* Pages' style only
*/

// Login
// --------------------------------------------------

#login-modal {
  width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; // full-screen
  background-image: url("../img/srifa-bg-top.png"); background-color: $primary-color;
  @extend %bg-center-top; background-size: 100% auto;
  .container {
    width: 90%; padding-top: 32px; position: relative;
    h4 { color: $secondary-color; font-size: 1em; text-align: center; margin-bottom: 24px;
      @include responsive(small-mobile) {margin-bottom: 15px;}//--------------- add responsive
    }
    .logo {
      width: 100%; height: 24vw; background-image: url("../img/srifa-logo-white.png");

      // todo: for iPhone4
      // this will not affect other sizes
      @include responsive(small-mobile) {
        height: 15vw; // set smaller height for logo
        margin-top: 25px;  //--------------- add responsive
      }
    }
    .separator{
      @include responsive(small-mobile) {margin: 12px 0;} //  --------------- add responsive
    }
    // todo: or like this
    //@include responsive(small-mobile) {
    //  .logo { height: 18vw; }
    //}


    // responsive example here
    @include responsive(tablet) {
      width: 50%;
    }

    // --- Form
    .form-wrap {
      width: 100%;
      input {
        width: 100%; color: white; background-color: #33a5bf; margin: 3% 0;
        @include placeholder(white);
      }
      .button-wrap {
        .button {
          background-color: $secondary-color; color: $font-color; min-height: 32px; height: 40px; line-height: 40px;
          @include border-radius(0); font-weight: 600; @extend %font-family;
        }
      }
    }

    // --- Below Form
    .word-btn {
      color: white; margin-top: 16px; float: left; width: 50%;
      @include responsive(small-mobile) {margin-top: 8px;} //  --------------- add responsive
    }
    .forget-password { float: right; text-align: right; }
    .skip-btn { float: right; width: 100%; text-align: center; }
  }
}

// Side Menu
// --------------------------------------------------

#side-menu {

  // --- Profile
  .profile {
    width: 100%; padding: 24px 24px 12px 24px; color: white; background-color: $primary-color; float: left; box-sizing: border-box;
    position: relative; z-index: 999;
    div { float: left; }
    .profile-pic-wrap {
      width: 70px; height: 70px; float: left;
      @include border-radius(35px); overflow: hidden; background-color: white;
      .profile-pic { width: auto; height: 100%; align-self: center; float: left; display: flex; }
    }
    //.profile-pic {
    //  width: 70px; padding-bottom: 70px; display: block; float: left;
    //  background-color: white; @extend %bg-fix-height; @include border-radius(35px);
    //}
    .details {
      width: calc(100% - 70px); padding: 16px 0 0 16px;
      .name { font-size: 0.9rem; }
      .license { font-size: 0.8rem; clear: left; }
    }
  }

  // --- Commission
  .commission {
    width: 100%; padding: 10px 0; float: left; box-sizing: border-box; background-color: $secondary-color;
    color: $font-color; text-align: center;
    p { margin: 2px 0 0 0; font-size: 1.2rem; }
  }

  // --- Navigation Menu
  .srifa-menu .item {
    // reduce menu item size
    &:not(.item-complex), &.item-complex a {
      font-size: 1.2rem;
      padding: 10px 16px;
      @include responsive(small-mobile) {padding: 8.2px 16px;} //  --------------- add responsive
    }
    // left icon
    .menu-icon {
      position: absolute; left: 24px; top: 50%; margin-top: -12px; color: $primary-color;
      @extend %bg-fix-height; width: 20px; height: 20px;
      i {
        float: left; font-size: 22px;
      }
    }
    label { padding-left: 48px; font-size: 1em; font-weight: 500; color: $primary-color; }
  }
}

// Barcode
// ----------------------------------------

#barcode-page {
  img {
    width: 70%; height: auto;
    @include responsive(tablet) {
      width: 50%;
    }
  }
}

// List Page (Home, News, Promotion)
// --------------------------------------------------

#posts-page, #home-page {
  //.scroll { padding-bottom: 30%; display: inline-block; width: 100%; } // increase padding for barcode footer
  //.container {
  //  width: 100%; padding: 2.5%; float: left;
  //  &.no-post { text-align: center; }
  //}
}

#home-page {
  .header {
    background-color: $secondary-color; background-position: 10px center; background-size: auto 50%; background-repeat: no-repeat;
    width: 100%; height: 32px; padding-left: 36px; line-height: 32px; color: $font-color; float: left;
    div { float: left; }
    .title { font-size: 1.15rem; }
    // icons
    &.promotions { background-image: url('../img/side-menu/icon-promotion.png') }
    &.news { background-image: url('../img/side-menu/icon-news.png') }
    .header-right {
      float: right; height: 32px; width: calc(100% - 150px);
      .header-right-caption {
        float: right; margin-right: 40px; color: white;
      }
    }
  }
}

// Content Page (News, Promotion)
// --------------------------------------------------

#content-page {
  .post-not-found {
    text-align: center; margin-top: 10px;
  }
  .content-wrap {
    width: 100%;
    .img-wrap {
      width: 100%; text-align: center;
      .content-img { margin: 0 0 16px 0; width: 100%; height: auto; }
      @include responsive(tablet) {
        .content-img { max-height: 400px; width: auto; }
      }
    }
    .header {
      background-position: left center; background-size: auto 50%; background-repeat: no-repeat;
      color: $font-color; font-weight: 600; border-bottom: 1px solid $primary-color;
      padding: 7px 0 7px 32px;
      // page types
      &.promotions { background-image: url('../img/side-menu/icon-promotion.png') }
      &.news { background-image: url('../img/side-menu/icon-news.png') }
      .title { font-size: 1.15rem; }
    }
    h2 { font-size: 1.15rem; @extend %font-family; color: $font-color; margin: 10px 0; }
    p { color: $font-color-2; }
    .share-btn-wrap { margin-top: 4px; float: right; }
  }
}

// Contact & Register
// --------------------------------------------------


#contact-page, #register-page {
  .scroll { display: block; }
  .title { font-size: 0.9rem; color: $font-color; text-align: center; margin-top: -4px; }
  .form-wrap {
    input, textarea {
      width: 100% !important; margin: 10px 0;
    }
    textarea {  }
  }
  .register-header { color: $font-color; width: 100%; text-align: center; font-size: 1.4rem; line-height: 1.2rem; padding: 6px 0 24px 0; }
  .button-wrap {
    .button {
      background-color: $secondary-color; color: $font-color; min-height: 32px; height: 40px; line-height: 40px;
      @include border-radius(0); font-weight: 600; @extend %font-family;
    }
    .button.secondary { background-color: $primary-color; color: white; }
  }
  .separator {
    margin: 7px 0; font-size: 0.8rem;
    span { color: $font-color; background-color: white; }
    &::before { border-color: $font-color; }
  }
  .footer-wrap {
    text-align: center; margin-top: 16px;
    h4 { color: $font-color; font-size: 0.9rem; margin: 0; @extend %font-family; font-weight: 500; }
    p { color: $font-color-2; font-size: 0.75rem; line-height: 1rem; margin: 0; }
  }
}

#register-page {
  input:first-child { margin-top: 0; }
  .button-wrap {
    margin-top: 40px;
    .button {
      color: white;
    }
  }
}

// Profile
// --------------------------------------------------

#profile-page {

}