/*
This is for example only
*/

#map-page {

  .scroll { height: 100%; display: inline-block; }

  // Tabs : floating in subheader
  // --------------------

  .bar-subheader { // remove sub-header underline
    background: #ffffff !important;
  }
  .tab-menu {
    float: left; width: 100%; height:100%;
    border:thin solid $secondary-font-color; box-sizing: border-box;
    @include border-radius(5px);
    &>div {
      width: 50%; height: 100%; float: left; display: block;
      &, div, label { float: left; }
      div {
        margin-left: 15px; width: 25px; height: 100%; @extend %bg-fix-width; background-size: 90% auto;
        &.icon-map { background-image: url('../img/icon-image-map.png') }
        &.icon-google-map { background-image: url('../img/icon-google-map.png') }
      }
      label { padding-left: 8px; font-size: 1em; font-weight: 500; color: $primary-color; line-height: 32px; }
      &.active {
        background-color: $primary-color;
        div {
          // todo: add white icon here
          &.icon-map { background-image: url('../img/icon-image-map-light.png') }
          &.icon-google-map { background-image: url('../img/icon-google-map-light.png') }
        }
        label { color: white; }
      }
    }
  }
}


#map-content{
  width: 100%; padding: 1% 2.5% 2.5% 2.5%; // margin-top: 50px;


  // Normal Content
  // --------------------

  .row.map-content{
    padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #a2a2a2;
    .tap-icon {
      @extend %bg-fix-height; width: 35px; height: 35px;
    }
    label {font-size: 1em; font-weight: 500; color: $primary-color; position: absolute; margin-top: -8px}
    p{font-size: 1em; font-weight: 500; color: $primary-color; position: absolute; margin-top: 12px;}
  }
  .row.map-address{
    color: $primary-color; padding-top: 20px; border-bottom: 1px solid #a2a2a2;
    .title{
      padding-top: 5px;
      p{font-size: 1em; font-weight: 500; color: $font-color-2; margin-top: -10px}
    }
  }
  .map-content2 {
    padding: 20px 0;
    .link-in-btn { color: $primary-color; }
    .content-btn{
      @include border-radius(5px); background-color: $secondary-color; padding-bottom: 10px; padding-top: 5px;
      .call-btn {
        margin-top: 5px; margin-left: 70px;
        @extend %bg-fix-height; width: 30px; height: 20px;
      }
      label { padding-left: 10px; font-size: 1em; font-weight: 500; color: $primary-color;
        position: absolute; margin-top: -20px; margin-left: 0px;}
    }
  }
  //.row.map-content3 {
  //  padding-top: 10px; padding-bottom: 10px;
  //  .content3{
  //    .content-header{
  //      margin-top: 0px; margin-left: 5px;
  //      @extend %bg-fix-height; width: 30px; height: 20px;
  //    }
  //    label { padding-left: 35px; font-size: 1em; font-weight: 500; color: $primary-color;
  //      position: absolute; margin-top: -20px; margin-left: 0px;}
  //  }
  //  .content4{
  //    @include border-radius(5px); border-color: $primary-color; border-style: solid; border-width: thin;height: 35px;
  //    width: 100%; margin-top: -10px;
  //
  //    .content-header2{
  //      margin-top: 8px; margin-left: 0px;
  //      @extend %bg-fix-height; width: 30px; height: 20px;
  //    }
  //    .title{
  //      padding-left: 0px; font-size: 0.8em; font-weight: 500; color: $primary-color;
  //      position: absolute; margin-top: -20px; margin-left: 30px;
  //    }
  //  }
  //}
  .img-map{
    padding: 10px 0 50px 0;
    &>img { width: 100%; margin-top: 10px; }
  }

  // Google Map Content
  // --------------------------------------------------------------------------------

  .map-wrap{
    width: 100%; height: 100%; float: left; padding-top: 0;

    // When using iframe
    .iframe-wrap {
      width: 100%; height: 100%; float: left; overflow: hidden; position: relative;
      .navigate-btn {
        position: absolute; top: 10px; left: 10px; z-index: 9; background-color: white; text-align: center;
        width: 100px; height: 30px; font-size: 1rem; color: $font-color; line-height: 30px; @include box-shadow(0px 0px 2px 0px rgba(0,0,0,0.25))
      }
    }

    // --- When using API
    #map{
      padding-top: 0;
      padding-bottom: 10px;
      height: 100%;
      width: 100%;
    }
  }
  .info-window {
    width: 200px; box-sizing: border-box; @extend %font-family;
    div { float: left; }
    img { width: 50%; float: left; }
    .title { padding: 10px; color: $font-color; font-size: 1.2rem; }
    .address { font-size: 0.8rem; padding: 10px 0 0 0; }

  }

  // info-window mocking style (full-detail)

  //.pop-left{
  //  img{
  //    padding-top: 10px;
  //    @extend %bg-fix-height; width: 110px;
  //  }
  //}
  //.pop-right {
  //  margin-top: 20px;
  //  p{
  //    color: $primary-color; font-size: 1em; font-weight: 500; margin-top: -10px;
  //  }
  //}
  //.pop-content2{
  //  color: $primary-color; padding-top: 5px; padding-left: 10px;
  //  .title{
  //    padding-top: 5px;
  //    p{font-size: 0.8em; font-weight: 500; color: $font-color-2; margin-top: -15px}
  //  }
  //}
}

#image-modal {
  .modal-close {
    position: absolute; top: $ios-statusbar-height; right: 0; text-align: center; z-index: 999;
    color: white; font-size: 24px; width: 45px; height: 45px; line-height: 45px;
    background-color: rgba(0,0,0,0.25);
  }
  .image-wrap {
    width: 100%; height: 100%;
  }
  .map-image {
    width:100%; height: auto; vertical-align: middle;
  }
  // pinch zoom
  .scroll-view.scroll-xy {
    height: 100%; background-color: #EEE; @extend %flex-center;
  }
}