/*
* Mostly what's missing from _mixins.scss
*/

@mixin background($position: center, $size: 100% auto, $repeat: no-repeat) {
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat;
}

// todo
//@mixin placeholder($color: $input-color-placeholder, $text-indent: 0) {
//  &::-moz-placeholder { // Firefox 19+
//    color: $color;
//  }
//  &:-ms-input-placeholder {
//    color: $color;
//  }
//  &::-webkit-input-placeholder {
//    color: $color;
//    // Safari placeholder margin issue
//    text-indent: $text-indent;
//  }
//}