/*
Semi Directive style here
*/

.semi-nav-bar {
  background-color: $primary-color; position: absolute; top: 0; left: 0; z-index: 99;
  height: 50px; width: 100%;
  .menu-btn {
    color: $font-color-2; background-color: $secondary-color; width: 20%; padding: 10px;
  }
}

.semi-btn {
  background-color: $secondary-color; display: inline-block; color: $secondary-font-color; position: relative;
  height: 40px; line-height: 40px; padding: 0 14px; text-align: center;
  &.full-width { width: 100%; }
  &:active { background-color: $secondary-active-color; }

  // Icon & Image Icon
  .icon-left { margin-right: 10px; }
  .icon-right { margin-left: 10px; }
  .img-icon { height: 40%; width: auto; vertical-align: middle; }

  .btn-content {
    box-sizing: border-box; font-size: 1em; font-weight: 600; display: inline-block;
  }

  &.has-link {
    .btn-content {
      width: 100%;
    }
  }

  // Type
  &.outline {
    background-color: transparent; border: 1px solid $font-color; color: $font-color;
    &:active { background-color: rgba(255, 255, 255, 0.25); }
  }
  &.outline-inverse {
    background-color: transparent; border: 1px solid #ffffff; color: $primary-font-color;
    &:active { background-color: rgba(255, 255, 255, 0.25); }
  }
  &.secondary {
    background-color: $primary-color; color: $primary-font-color;
  }
  &.gray {
    background-color: $primary-color; color: $primary-font-color;
  }

  // Style
  &.rounded { @include border-radius(5px) }
}

.semi-post-item {
  width: 100%; border-bottom: 1px solid $border-color; box-sizing: border-box; float: left;
  padding: 8px 0 0 0; position: relative; color: $font-color;
  &:first-child { border-top: 1px solid $border-color;}
  .thumbnail { float: left; width: 40%; padding-bottom: 8px; }
  p { float: left; word-wrap: break-word; width: 60%; padding: 4px 20px 8px 10px; margin: 0; }
  .chevron { // the `>` icon
    width: 1.2rem; height: 100%; position: absolute; top: 0; right: 0;
    i { color: #DDDDDD; font-size: 1.2rem; }
  }
  @include responsive(tablet) {
    .thumbnail { width: 30%; }
    p { width: 70%; padding-left: 24px; font-size: 1.5rem; line-height: 2rem; }
  }
}

.semi-sub-header {
  position: absolute; top: $bar-subheader-height; left: 0; width: 100%; display: inline-block; box-sizing: border-box;
}

.semi-no-record {
  text-align: center; margin: 10px 0; width: 100%; float: left;
}