
$font-color: #008faf;
$bg-color: #FFFFFF;
$primary-color: #008faf; // Background
$primary-font-color: #FFFFFF; // Font
$secondary-color: #ffc423;
$secondary-active-color: #ffe966;
$secondary-font-color: #008faf;

$btn-color: transparent;
$btn-border-color: #FFFFFF;
$btn-font-color: #FFFFFF;

// Dark background with light font
$font-color-2: #434a54;
$bg-color-2: #008faf;

// Content Padding
$small-padding: 1.5%;
$medium-padding: 2.5%;
$normal-padding: 5%;

$border-color: #cecece;
$chevron-size: 10px;

$barcode-padding: 100px;
$bottom-padding: 20px; // without barcode footer


// templates

%font-family { font-family: prompt, "Sukhumvit Set", sans-serif; }

// Flex

%flex-center { @include display-flex(); @include align-items(center); @include flex-wrap(wrap); @include justify-content(center); }
.flex-center { @extend %flex-center; }
%flex-row { @include display-flex(); @include align-items(center); @include justify-content(center); }

// Background Images

%bg-fix-height { background-position: center center; background-size: auto 100%; background-repeat: no-repeat; }
.bg-fix-height { @extend %bg-fix-height }
%bg-fix-width { background-position: center center; background-size: 100% auto; background-repeat: no-repeat; }
.bg-fix-width { @extend %bg-fix-height }

%bg-center-top { background-position: center top; background-repeat: no-repeat; }
.bg-center-top { @extend %bg-center-top }
%bg-center-bottom { background-position: center bottom; background-repeat: no-repeat; }
.bg-center-bottom { @extend %bg-center-bottom }
%bg-right-center { background-position: right center; background-repeat: no-repeat; }
.bg-right-center { @extend %bg-right-center }

//%bg-center-top { background-position: center top; background-repeat: no-repeat; }