// Mostly Based on iPhone & iPad
// --------------------

$tablet-breakpoint: "(min-width : 680px)"; // iPad
$mobile-breakpoint: "(min-width : 320px) and (max-width : 679px) and (min-height : 481px)"; // iPhone5, 6, 6plus
$small-mobile-breakpoint: "(max-width : 320px) and (max-height : 480px)"; // iPhone4
$small-mobile-breakpoint: "(max-width : 320px) and (max-height : 480px)"; // iPhone4

@mixin responsive($media) {
  @if $media == tablet {
    @media only screen and #{$tablet-breakpoint} { @content; }
  } @else if $media == mobile {
    @media only screen and #{$mobile-breakpoint} { @content; }
  } @else if $media == small-mobile {
    @media only screen and #{$small-mobile-breakpoint} { @content; }
  } @else if $media == tiny-mobile {
    @media only screen and #{$small-mobile-breakpoint} { @content; }
  }
}

// overrides Ionic 14px font size
// Readmore: http://stackoverflow.com/questions/7107920/why-should-we-use-sp-for-font-sizes-in-android
body {
  font-size: 16px !important;
}