<div class="barcode-footer" ng-class="containerClasses" ng-if="!user.anonymous">
  <!--<div class="barcode-btn" ng-click="showBarcode()"></div>-->
  <a class="barcode-btn" href="#/app/barcode"></a>
  <p>แสดงบาร์โค้ด</p>
</div>