<a class="semi-post-item" ng-class="moreClasses" href="{{href}}">
  <img class="thumbnail" ng-src="{{thumbnail}}" />
  <p ng-transclude></p>
  <div class="chevron flex-center">
    <i class="icon ion-chevron-right"></i>
  </div>
</a>